*{/*reset*/
    margin:0;
    padding:0;
}

body{
    word-spacing: 0.4em;
    background: url(./fondo.jpg);
    background-size:cover ;
    font-family: 'Noto Sans','Noto Sans Vithkuqi', sans-serif;
   
    
}

.contenedor{
    width: 45%;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
    border-radius: 10%;
    text-align: center;
    color: white;
}


.fecha p{
    display: inline-block;
    font-size: 2em;
    
}

.hora p{
    display: inline-block;
    font-size: 4em;
}