*{/*reset*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* word-spacing: 0.4em; */
    /* background: url(./fondo.jpg); */
    display: flex;
    flex-direction: column;
    background-size:cover ;
    background-repeat: no-repeat;
    font-family: 'Noto Sans','Noto Sans Vithkuqi', sans-serif;
    color: rgb(29, 10, 10);
    height: 100vh;
    overflow: hidden;
    
}

header{
    background-color: rgb(189, 255, 127);
    text-align: center; 
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 100%;
    font-family: 'Noto Sans','Noto Sans Vithkuqi', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.3em;
    
    
}

.main{
    display: flex;
}
.logo {
    padding-top: 1.5em;
    justify-content: center;
}
footer{
    height: 15vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(189, 255, 127);
    width: 100%;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    color: rgb(48, 15, 15);
    align-items: center;
    justify-content: center;
    background-color: rgb(91, 173, 184);
}

.fecha p{
    display: inline-block;
    font-size: 2em;    
}
.slash{
    content-visibility: hidden;
}

.hora p{
    display: inline-block;
    font-size: 4em;
}

/* -----------responsive------------------*/
/*---------- menor a 1260---------------*/
@media (max-width: 1260px){
    .dia, .minutos~p{
        content-visibility: hidden;
    }
}

@media (max-width: 995px){
  .de{
        content-visibility: hidden;
    }
    .slash{
        content-visibility: visible;
    }
    .frase{
        width: 50%;
        text-align: center;
    }
}
/* 540 */
/*960*/

@media only screen and (min-device-height : 320px) and (max-device-height : 480px) {
   header,footer {
    content-visibility: hidden;
   }
} 
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header,footer .info-footer{
     content-visibility: hidden;
    }
}
